@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
html {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  color: #2b2d31;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background: #1f428b;
  color: #fff;
}

::-moz-selection {
  background: #1f428b;
  color: #fff;
}

a:focus, *:focus {
  outline: none;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #2b2d31;
}

a:hover {
  color: #2b2d31;
}

a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #2b2d31;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

a:hover::after {
  transform: scale(1, 1);
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header {
  position: fixed;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: 0.5s;
  width: 100%;
  z-index: 9999;
}

header.transform {
  background: rgba(255, 255, 255, 0.6);
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header .flexbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .inner {
  margin: auto;
  max-width: 96%;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 1em;
  letter-spacing: 0.1em;
}

header nav ul li:last-child {
  margin-right: 0;
}

header h1 {
  color: #2b2d31;
  font-size: 2.2em;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
}

header .gnav ul li a {
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  padding: 0.2em;
  box-sizing: border-box;
}

.hero {
  margin: 0 auto 3em;
  display: block;
  overflow: hidden;
  padding: 12em 0 5em;
  box-sizing: border-box;
  background: #e0eafc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cfdef3, #e0eafc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cfdef3, #e0eafc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #2b2d31;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
  margin: 0.5em auto 1em;
  display: table;
  box-sizing: border-box;
  position: relative;
  font-family: "Dosis", sans-serif;
}

.hero h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #2b2d31;
  width: 100px;
  height: 2px;
}

.hero p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.portfolio p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.portfolio .box {
  background: #f0f0f0;
  padding: 2em;
  margin: 4em auto;
  width: 80%;
  box-sizing: border-box;
}

.portfolio .box h3 {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: #2b2d31;
  letter-spacing: 0.1em;
  margin: 0 auto 1em;
  display: block;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.portfolio .works {
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.portfolio .works article figure {
  overflow: hidden;
  border: #ddd 1px solid;
  margin: 3%;
  position: relative;
  overflow: hidden;
}

.portfolio .works article figure a {
  display: block;
}

.portfolio .works article figure img {
  width: 100%;
  height: auto;
}

.portfolio .works figcaption {
  position: absolute;
  padding: 4%;
  box-sizing: border-box;
  left: 0;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(179, 202, 230, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .works figcaption h3 {
  margin: 0 auto;
  font-size: 14px;
  color: #2b2d31;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-weight: bold;
}

.portfolio .works figcaption p {
  font-size: 12px;
  color: #2b2d31;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.portfolio .works figure:hover figcaption {
  bottom: -60%;
}

footer p {
  text-align: center;
  display: block;
  color: #2b2d31;
  width: 100%;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.sp {
  display: block !important;
}

@media screen and (min-width: 480px) {
  .sp {
    display: none !important;
  }
  .works {
    width: 100%;
  }
  .works figcaption {
    position: absolute;
    padding: 2%;
    box-sizing: border-box;
    left: 0;
    bottom: -60%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(179, 202, 230, 0.8);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .works figure:hover figcaption {
    bottom: -60%;
  }
  /*ナビメニューのスタイルを指定*/
  nav.NavMenu {
    　position: fixed;
    /*表示位置を固定*/
    　z-index: 2;
    /*重ね順を変更*/
    　top: 0;
    /*表示位置を指定*/
    　left: 0;
    /*表示位置を指定*/
    　background: #fff;
    /*背景を白にする*/
    　color: #000;
    /*文字色を黒にする*/
    　text-align: center;
    /*テキストを中央揃え*/
    　width: 100%;
    /*全幅表示*/
    　transform: translateY(-100%);
    /*ナビを上に隠す*/
    　transition: all 0.6s;
    /*アニメーションの時間を指定*/
  }
  nav.NavMenu ul {
    　background: #ccc;
    /*背景をグレーにする*/
    　width: 100%;
    　margin: 0 auto;
    　padding: 0;
  }
  nav.NavMenu ul li {
    　font-size: 1.1em;
    　list-style-type: none;
    　padding: 0;
    　width: 100%;
    　border-bottom: 1px dotted #333;
  }
  nav.NavMenu ul li:last-child {
    　padding-bottom: 0;
    　border-bottom: none;
    /*最後のメニュー項目のみ下線を消す*/
  }
  nav.NavMenu ul li a {
    　display: block;
    /*クリックできる領域を広げる*/
    　color: #000;
    　padding: 1em 0;
  }
  .Toggle {
    display: block;
    position: fixed;
    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
  }
  .Toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;
    /*変化の速度を指定*/
    transition: .35s ease-in-out;
    /*変化の速度を指定*/
    left: 6px;
  }
  .Toggle span:nth-child(1) {
    top: 9px;
  }
  .Toggle span:nth-child(2) {
    top: 18px;
  }
  .Toggle span:nth-child(3) {
    top: 27px;
  }
  /* 最初のspanをマイナス45度に */
  .Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2),
  .Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /*トグルボタンが押されたときに付与するクラス*/
  nav.NavMenu.active {
    　transform: translateY(0%);
  }
  /*ナビメニューのスタイルを指定*/
  nav.NavMenu {
    　position: fixed;
    /*表示位置を固定*/
    　z-index: 2;
    /*重ね順を変更*/
    　top: 0;
    /*表示位置を指定*/
    　left: 0;
    /*表示位置を指定*/
    　background: #fff;
    /*背景を白にする*/
    　color: #000;
    /*文字色を黒にする*/
    　text-align: center;
    /*テキストを中央揃え*/
    　width: 100%;
    /*全幅表示*/
    　transform: translateY(-100%);
    /*ナビを上に隠す*/
    　transition: all 0.6s;
    /*アニメーションの時間を指定*/
  }
}
