@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
html {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  color: #2b2d31;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  margin: auto;
  max-width: 96%;
  width: 100%;
}

.Toggle {
  display: none;
}

::selection {
  background: #1f428b;
  color: #fff;
}

::-moz-selection {
  background: #1f428b;
  color: #fff;
}

a {
  text-decoration: none;
  color: #2b2d31;
}

a:hover {
  color: #2b2d31;
}

a:focus,
*:focus {
  outline: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header {
  position: fixed;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}

header.fixed {
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
}

header .flexbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 1em;
  letter-spacing: 0.1em;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #2b2d31;
}

header nav ul li a:hover {
  color: #2b2d31;
}

header nav ul li a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #2b2d31;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

header nav ul li a:hover::after {
  transform: scale(1, 1);
}

header h1 {
  color: #2b2d31;
  font-size: 2.2em;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
}

header .gnav ul li a {
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  padding: 0.2em;
  box-sizing: border-box;
}

.hero {
  margin: 0 auto 3em;
  display: block;
  overflow: hidden;
  padding: 12em 0 5em;
  box-sizing: border-box;
  background: #e0eafc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cfdef3, #e0eafc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cfdef3, #e0eafc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #2b2d31;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
  margin: 0.5em auto 1em;
  display: table;
  box-sizing: border-box;
  position: relative;
  font-family: "Dosis", sans-serif;
}

.hero h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #2b2d31;
  width: 100px;
  height: 2px;
}

.hero p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.portfolio p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.portfolio .box {
  background: #f0f0f0;
  padding: 2em;
  margin: 4em auto;
  width: 80%;
  box-sizing: border-box;
}

.portfolio .box h3 {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: #2b2d31;
  letter-spacing: 0.1em;
  margin: 0 auto 1em;
  display: block;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.portfolio .works {
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.portfolio .works article figure {
  overflow: hidden;
  border: #ddd 1px solid;
  margin: 3%;
  position: relative;
  overflow: hidden;
}

.portfolio .works article figure a {
  display: block;
}

.portfolio .works article figure img {
  width: 100%;
  height: auto;
}

.portfolio .works figcaption {
  position: absolute;
  z-index: 999;
  padding: 4%;
  box-sizing: border-box;
  left: 0;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(179, 202, 230, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .works figcaption h3 {
  margin: 0 auto;
  font-size: 14px;
  color: #2b2d31;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-weight: bold;
}

.portfolio .works figcaption p {
  font-size: 12px;
  color: #2b2d31;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.portfolio .works figcaption a {
  color: #fff !important;
}

.portfolio .works figcaption a:hover {
  color: #fff !important;
}

.portfolio .works figure:hover figcaption {
  bottom: -60%;
}

.portfolio nav ul {
  display: block;
}

.portfolio nav ul li {
  margin-right: 0;
}

.burger-icon {
  display: none;
}

footer p {
  text-align: center;
  display: block;
  color: #2b2d31;
  width: 100%;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.sp {
  display: block !important;
}

@media screen and (max-width: 480px) {
  .sp {
    display: none !important;
  }
  .works {
    width: 100%;
  }
  .works figcaption {
    position: absolute;
    padding: 2%;
    box-sizing: border-box;
    left: 0;
    bottom: -60%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(179, 202, 230, 0.8);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .works figure:hover figcaption {
    bottom: -60%;
  }
  /* アニメーション */
  .burger-nav {
    animation-name: anime-burger;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }
  @keyframes anime-burger {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
    }
  }
  /* メディアクエリ */
  /* burger */
  header {
    padding: 1em;
  }
  header.fixed {
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
  }
  .hero {
    padding: 8em 0 3em;
  }
  header nav ul {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100vw;
  }
  header nav ul li {
    margin-right: 0;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 480px) and (max-width: 768px) {
  .burger-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none !important;
  }
  .burger-nav.open {
    display: block !important;
  }
  .burger-nav.close {
    display: none !important;
  }
}

@media screen and (max-width: 480px) and (max-width: 768px) {
  .burger-icon {
    display: block;
    width: 25px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 1.5em;
    right: 1em;
    z-index: 99;
  }
  .burger-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #222;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .burger-icon span:nth-of-type(1) {
    top: 0;
  }
  .burger-icon span:nth-of-type(2) {
    top: 8px;
  }
  .burger-icon span:nth-of-type(3) {
    bottom: 0;
  }
  .burger-icon.is-burger-nav-open span {
    background-color: #222;
  }
  .burger-icon.is-burger-nav-open span a {
    position: static !important;
  }
  .burger-icon.is-burger-nav-open span a:hover {
    position: static !important;
  }
  .burger-icon.is-burger-nav-open span:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .burger-icon.is-burger-nav-open span:nth-of-type(2) {
    opacity: 0;
  }
  .burger-icon.is-burger-nav-open span:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
  }
}
