@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
html {
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  color: #2b2d31;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic,
    "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}
img {
  max-width: 100%;
  height: auto;
}
::selection {
  background: rgb(31, 66, 139);
  color: #fff;
}
::-moz-selection {
  background: rgb(31, 66, 139);
  color: #fff;
}
a:focus, *:focus { outline:none; }
a {
	color: #2b2d31;
  &:hover {
    color: #2b2d31;
  }
}
header {
	position: fixed;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: 0.5s;
  width: 100%;
  z-index: 9999;
  &.transform {
    background: rgba(255, 255, 255, 0.6);
	padding: 1em;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
	}
	.flexbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
	.inner{
	margin: auto;
	max-width: 96%;
	width:100%;
	}
	nav{
		ul{
		display: flex;
		justify-content: space-between;
		li{
			margin-right: 1em;
			letter-spacing: 0.1em;
			&:last-child{
				margin-right:0;
			}
		}
	}
	}
  h1 {
    color: #2b2d31;
    font-size: 2.2em;
    letter-spacing: 0.1em;
    font-family: "Dosis", sans-serif;
  }
  .gnav {
    ul li a {
      font-size: 1.2em;
      font-family: "Dosis", sans-serif;
    }
  }
}
.hero {
  margin: 0 auto 3em;
  display: block;
  overflow: hidden;
  padding: 12em 0 5em;
  box-sizing: border-box;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cfdef3, #e0eafc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #2b2d31;
    padding: 0 0 0.5em 0;
    letter-spacing: 0.1em;
    margin: 0.5em auto 1em;
    display: table;
    box-sizing: border-box;
    position: relative;
    font-family: "Dosis", sans-serif;
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #2b2d31;
      width: 100px;
      height: 2px;
    }
  }
  p {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
  }
}
.portfolio {
  p {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
  }
  .box {
    background: #f0f0f0;
    padding: 2em;
    margin: 4em auto;
    width: 80%;
		box-sizing: border-box;
	h3 {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: #2b2d31;
  letter-spacing: 0.1em;
  margin: 0 auto 1em;
  display: block;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
  }
  .works {
    margin: 0 auto;
    padding: 0;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    article figure {
      overflow: hidden;
      border: #ddd 1px solid;
      margin: 3%;
      position: relative;
      overflow: hidden;
      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    figcaption {
      position: absolute;
      padding: 4%;
      box-sizing: border-box;
      left: 0;
      bottom: -100%;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(179, 202, 230, 0.8);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    figcaption h3 {
      margin: 0 auto;
      font-size: 14px;
      color: #2b2d31;
      text-align: left;
      letter-spacing: 0.1em;
      line-height: 1.4;
      font-weight: bold;
    }
    figcaption p {
      font-size: 12px;
      color: #2b2d31;
      text-align: left;
      letter-spacing: 0.1em;
      line-height: 1.4;
    }
    figure:hover figcaption {
      bottom: -60%;
    }
  }
}

footer p {
  text-align: center;
  display: block;
  color: #2b2d31;
  width: 100%;
  margin: 0;
  padding:1em;
  box-sizing: border-box;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
.sp {
  display: block !important;
}
@media screen and (max-width: 481px) {
  .sp {
    display: none !important;
  }
  .works {
    width: 100%;
    figcaption {
      position: absolute;
      padding: 2%;
      box-sizing: border-box;
      left: 0;
      bottom: -60%;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(179, 202, 230, 0.8);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    figure:hover figcaption {
      bottom: -60%;
    }
  }
}
@media screen and (max-width: 769px) {
}
