@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans&display=swap");
html {
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 0;
  background: #f9f9f9;
  color: #212533;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic,
    "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}
img {
  max-width: 100%;
  height: auto;
}
::selection {
  background: #b55219;
  color: #fff;
}
::-moz-selection {
  background: #b55219;
  color: #fff;
}
a {
  color: #b55219;
  &:hover {
    color: #999;
  }
}

header {
  width: 100%;
  background: #212533;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 0 auto 3%;
  text-align: center;
  h1 {
    color: #f9f9f9;
    font-size: 50px;
    letter-spacing: 0.1em;
    font-family: "Julius Sans One", sans-serif;
  }
}
h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #212533;
  padding: 0 0 2% 0;
  letter-spacing: 0.1em;
  margin: 2% auto 3%;
  display:table;
  box-sizing: border-box;
  position: relative;
  font-family: "Julius Sans One", sans-serif;
  &:after{
    position: absolute;
    content:"";
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#212533;
    width:100px;
    height: 2px;
  }
}
h3{
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #212533;
  letter-spacing: 0.1em;
  margin: 0 auto 2%;
  display: block;
  box-sizing: border-box;
  font-family: "Julius Sans One", sans-serif;
}
.portfolio {
  margin: 3% auto;
  width: 80%;
  box-sizing: border-box;
    p{
	  text-align: center;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
.school{
  background:#fff;
  padding: 4%;
  margin: 4% auto;
  box-sizing: border-box;
}
}
.works {
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content: stretch;
  article figure {
    overflow: hidden;
    border: #ddd 1px solid;
    margin: 3%;
    position: relative;
    overflow: hidden;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  figcaption {
    position: absolute;
    padding: 3%;
    box-sizing: border-box;
    left: 0;
    bottom: -100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(165, 69, 13, 0.9);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  figcaption h3 {
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 1.4;
    font-weight: bold;
  }
  figcaption p {
    font-size: 12px;
    color: #fff;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 1.4;
  }
  figure:hover figcaption {
    bottom: -60%;
  }
}

footer p {
  text-align: center;
  display: block;
  color: #212533;
  width: 100%;
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
@media screen and (max-width: 481px) {
.works {
  width: 100%;
  figcaption {
    position: absolute;
    padding: 2%;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(165, 69, 13, 0.9);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  figure:hover figcaption {
    bottom: 0;
  }
}
}
@media screen and (max-width: 769px) {
}
